$primary-color: #422755;
$second-color: #FEAF3D;
$third-color: #6E4B87;
$danger-color: #F04837;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
}

header {
    display: flex;
    align-items: center;
    
}

.header-skew {
    top: 0;
    width: 100vw;
    height: 400px;
    background: $primary-color; 
    border: 0;   

}

header svg {
    position: absolute;
    margin-top: 300px;
    width: 100%;
    height: 100px;
  }

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;    
}


// header {
//     background-color: $primary-color;
//     align-items: center;  


// }

// header .container {
//     color: #FFFFFF;
//     display: flex;
//     flex-direction: column;
//     align-items: center;  
//     width: 100%;
//     max-width: 1080px;
//     height: 380px;
//     margin: auto;
// }

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1080px;
}

.search-bar {
    width: 1081px;
    height: 85px;
    border-radius: 5px;
    background-color: $second-color;
    padding: 10px;
    display: flex;
    justify-content: space-around;    
}

.tasks-list {
    display: flex;
    flex-direction: row;
}

.card-task {
    max-width: 253px;
    border: solid 1px;
    border-radius: 10px;
    padding: 20px;
} 

.short-deadline {
    background-color: #422755;
    color:#FFFFFF;
    margin-left: -30px;
    width: 100px;
}

.task-img img {
    width: 250px ;
}

.task-title {
    font-weight: bold;
    font-size: 14px;
    margin-top: 11px;
}

.task-description {
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
    display: flex;
}

.extra-content p {
    font-size: 12px;
    font-weight:700;
    margin-top: 8px;
}


.deadline {
    font-weight: 700;
    font-size: 18px;
    color: $danger-color;
}

.inclusion {
    margin-top: 20px;
    font-size: 10px;
    font-weight:400;
}


/* .task-info {
    display: flex;
    flex-direction: column;
} */

.buttons-task {
    display: none;
}

.newsletter {
    background-color: #E5E5E5;
}

.newsletter-form {
    display: flex;
}

.about {
    display: flex;
}

.about .brand {
    width: 300px;
    text-align: center;
}

footer {
    background-color: #422755;
    color: #FFFFFF;
}