// COLORS

$primary-color: #422755;
$second-color: #FEAF3D;
$third-color: #6E4B87;
$danger-color: #F04837;
$white: #FFFFFF;
$gray: #fafafa;
$black: #414141;

// FONT

$primary-font: 'Open Sans', sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;

html,
body {
    height: 100vh;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;     
}

header {
    position: relative;
    display: flex;
    align-items: center;    
}

.header-skew {
    top: 0;
    width: 100vw;
    height: 400px;
    background: $primary-color; 
    border: 0;
}

header svg {
    position: absolute;
    margin-top: 300px;
    width: 100%;
    height: 100px;
  }

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFF;
    text-align: center; 
    position: inherit;  
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ce;
    max-width: 1200px;
}


// BARRA DE BUSCA 

.search-bar {
    align-items: center;
    width: 100%;
    height: 85px;
    margin-top: 55px;
    border-radius: 8px;
    background-color: $second-color;
    display: flex;
    color: white ;
    font-weight: $regular;
    justify-content: space-around;
    
    input {
        height: 35px;
        width: 275px;
        border: 0;
        border-radius: 8px 0px 0px 8px;
        padding: 10px;
        font-size: 12px;
        font-weight: $regular;
    }

    button {
        width: 70px;
        height: 36px;
        background-color: $third-color;
        border: 0;
        border-radius: 8px;
        color: white;
        font-family: $primary-font;
        font-weight: bold;
        font-size: 14px;
        margin-left: -35px;
        margin-top: 4px;
    }

    select {
        height: 35px;
        width: 195px;
        border: 0;
        border-radius: 8px;
        padding: 0 20px;
        font-family: $primary-font;
        font-size: 14px;
        font-weight: $regular;
    }

     
}

.tasks-list {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}

.card-task {
    background-color: white;
    width: 230px;
    border: solid 1px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;

    figure {
        margin: 0;
        width: 100% ;
        height: 185px;
        background-image: url("../img/card-bg.png");
        overflow: hidden;     
    }
    
} 

.card-task:hover {
    box-shadow: 1px 5px 10px 0px rgba(0,0,0,0.25);
    cursor: pointer;
    transition: 0.2s;

    .buttons-task {
        display: block;
        transition: 1s;

    }


}



.short-deadline {
    background-color: #422755;
    color:#FFFFFF;
    margin-left: -30px;
    width: 100px;
}

.task-title {
    font-weight: bold;
    font-size: 14px;
    margin-top: 11px;
}

.task-description {
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
    display: flex;
}

.extra-content p {
    font-size: 12px;
    font-weight:700;
    margin-top: 8px;
}


.deadline {
    font-weight: 700;
    font-size: 18px;
    color: $danger-color;
}

.inclusion {
    margin-top: 20px;
    font-size: 10px;
    font-weight:400;
}


/* .task-info {
    display: flex;
    flex-direction: column;
} */

.buttons-task {
    display: none;
    
    button {
        color: white;
        font-family: $primary-font;
        font-size: 16px;
        font-weight: bold;
    }

    .done {
        background-color: $primary-color;
        width: 100%;
        margin-top: 25px;
        color: white;        
    }

    .change-deadline {
        background-color: $danger-color;
        margin-top: 10px;
        width: 100%;

    }

    i {
        margin-right: 15px;
    }

}

button {
    height: 40px;
    border: 0;
    border-radius: 8px;
    color: white;
}

.more-tasks {
    background-color: $third-color ;
    color: white;
    width: 200px;
    font-size: 16px;
    font-family: $primary-font;
    font-weight: bold;
    margin-top: 50px;
    
}



.newsletter {
    background-color: #E5E5E5;
    margin-top: 140px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 14px;
        color: $primary-color;
        font-weight: bold;
        margin-top: 30px;
        margin-left: 50px;
    }
    
}

.newsletter-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-left: 50px ;

    label {
        font-size: 12px;
        color: #747474;
        font-weight: $regular;
    }

    input {
        height: 40px;
        width: 340px;
        border: 0;
        border-radius: 8px;
        margin-right: 10px;
        padding: 5px;

    }


}

.register-btn {
    background-color: $third-color;
    margin-right: 50px;
}

.about {
    display: flex;
    margin-top: 100px;
    font-size: 14px;
    color: black;
    font-weight: $regular;

    .about-text {
        margin-left: 50px;
    }

    .brand {
        width: 300px;
        margin-top: 15px;
    }
}

footer {
    background-color: #422755;
    color: #FFFFFF;
    margin-top: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    font-weight: $regular;
    padding: 40px;

    p {
        margin: 0px;
    }
}