button {
  cursor: pointer;
}

html,
body {
  height: 100vh;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0px;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-skew {
  top: 0;
  width: 100vw;
  height: 400px;
  background: #422755;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
}

header svg {
  position: absolute;
  margin-top: 300px;
  width: 100%;
  height: 100px;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFF;
  text-align: center;
  padding-top: 50px;
}

main {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: ce;
      -ms-flex-pack: ce;
          justify-content: ce;
  max-width: 1200px;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 85px;
  margin-top: 55px;
  border-radius: 8px;
  background-color: #FEAF3D;
  color: white;
  font-weight: 400;
}

.search-bar label {
  margin-right: 20px;
}

.search-bar input {
  height: 35px;
  width: 275px;
  border: 0;
  border-radius: 8px 0px 0px 8px;
  padding: 10px;
  font-size: 12px;
  font-weight: 400;
}

.search-bar button {
  width: 70px;
  height: 36px;
  background-color: #6E4B87;
  border: 0;
  border-radius: 8px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-left: -35px;
}

.search-bar select {
  height: 35px;
  width: 175px;
  border: 0;
  border-radius: 8px;
  padding: 0 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.tasks-list {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card-task {
  background-color: white;
  width: 230px;
  border: solid 1px;
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

.card-task figure {
  margin: 0;
  width: 100%;
  height: 185px;
  background-image: url("../img/card-bg.png");
  overflow: hidden;
}

.card-task .header-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card-task .header-card i {
  display: none;
}

.card-task .extra-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card-task button .done-mobile {
  display: none;
}

.card-task:hover {
  -webkit-box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-task:hover .buttons-task {
  display: block;
  -webkit-transition: 1s;
  transition: 1s;
}

.short-deadline {
  background-color: #422755;
  color: #FFFFFF;
  margin-left: -30px;
  width: 100px;
}

.task-title {
  font-weight: bold;
  font-size: 14px;
  margin-top: 11px;
}

.task-description {
  font-weight: 400;
  font-size: 12px;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.extra-content p {
  font-size: 12px;
  font-weight: 700;
  margin-top: 8px;
}

.deadline {
  font-weight: 700;
  font-size: 18px;
  color: #F04837;
}

.inclusion {
  margin-top: 20px;
  font-size: 10px;
  font-weight: 400;
}

/* .task-info {
    display: flex;
    flex-direction: column;
} */
.buttons-task {
  display: none;
}

.buttons-task button {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.buttons-task .done {
  background-color: #422755;
  width: 100%;
  margin-top: 25px;
  color: white;
}

.buttons-task .change-deadline {
  background-color: #F04837;
  margin-top: 10px;
  width: 100%;
}

.buttons-task i {
  margin-right: 15px;
}

button {
  height: 40px;
  border: 0;
  border-radius: 8px;
  color: white;
}

.more-tasks {
  background-color: #6E4B87;
  color: white;
  width: 200px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  margin-top: 50px;
}

.newsletter {
  background-color: #E5E5E5;
  margin-top: 140px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter h2 {
  font-size: 14px;
  color: #422755;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 50px;
}

.newsletter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  margin-left: 50px;
  vertical-align: bottom;
}

.newsletter-form label {
  font-size: 12px;
  color: #747474;
  font-weight: 400;
  margin: 10px;
}

.newsletter-form input {
  height: 40px;
  width: 340px;
  border: 0;
  border-radius: 8px;
  margin-right: 10px;
  padding-left: 20px;
}

.register-btn {
  background-color: #6E4B87;
  margin-right: 50px;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.about .about-text {
  margin-left: 50px;
}

.about .brand-logo {
  width: 300px;
  margin-top: 15px;
}

footer {
  background-color: #422755;
  color: #FFFFFF;
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  font-weight: 400;
  padding: 40px;
}

footer p {
  margin: 0px;
}

@media (max-width: 360px) {
  html,
  body {
    width: 100%;
    margin: 0px;
  }
  header {
    width: 100%;
  }
  .header-skew {
    top: 0;
    width: 100%;
    height: 160px;
    background: #422755;
    border: 0;
  }
  header svg {
    position: absolute;
    margin-top: 135px;
    width: 100%;
    height: 25px;
  }
  .header-content {
    margin-top: -40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #FFF;
  }
  .header-content .subtitle {
    display: none;
  }
  main {
    width: 100%;
  }
  .search-bar {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 0px;
  }
  .search-bar .search-field {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .search-bar .search-field input {
    width: 100%;
    margin-bottom: 20px;
  }
  .search-bar .search-field label {
    font-size: 12px;
    font-weight: 600;
  }
  .search-bar .search-field .filter-menu {
    margin: 20px;
    width: 90%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .search-bar .search-field button {
    margin-left: -60px;
  }
  .tasks-list {
    width: 100%;
  }
  .card-task {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .card-task .task-title {
    margin-top: 0px;
  }
  .card-task figure {
    width: 145px;
    height: 180px;
  }
  .card-task .task-info {
    width: 150px;
    margin-left: 10px;
  }
  .card-task .task-info .task-description {
    font-size: 11px;
  }
  .card-task .task-info .header-card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .card-task .task-info .header-card button {
    height: 20px;
    padding: 0px;
  }
  .card-task .task-info .header-card button i {
    display: block;
    color: #F04837;
    font-size: 20px;
  }
  .card-task .task-info .footer-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .card-task .task-info .footer-card .change-deadline {
    display: none;
  }
  .card-task .task-info .footer-card .inclusion {
    font-size: 10px;
    margin-top: 10px;
  }
  .card-task .buttons-task {
    display: block;
  }
  .card-task .buttons-task .done {
    margin-top: 0px;
    width: 150px;
    height: 30px;
    background-color: white;
    border: 1px solid #422755;
    color: #422755;
  }
  .newsletter {
    display: none;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
  .about .brand-logo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 160px;
  }
  .about .about-text {
    text-align: center;
    margin-top: 40px;
    margin-left: 0px;
    font-size: 12px;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
