* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #422755;
    color: #FFFFFF;
}

.search-bar {
    background-color: orange;
    padding: 10px;
    display: flex;
}

.tasks-list {
    display: flex;
}

.card-task {
    max-width: 253px;
    border: solid 1px;
    border-radius: 10px;
    padding: 20px;
} 

.short-deadline {
    background-color: #422755;
    color:#FFFFFF;
    margin-left: -30px;
    margin-top: -80px;
    width: 100px;
}

.task-img img {
    width: 250px ;
}

.task-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 11px;
}

.task-description {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 5px;
    display: flex;
}

.extra-content p {
    font-family: 'Open Sans';
    font-size: 12px;
    font-weight:700;
    margin-top: 8px;
}


.deadline {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: red;
}

.inclusion {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight:400;
}


/* .task-info {
    display: flex;
    flex-direction: column;
} */

.buttons-task {
    display: none;
}

.newsletter {
    background-color: #E5E5E5;
}

.newsletter-form {
    display: flex;
}

.about {
    display: flex;
}

.about .brand {
    width: 300px;
    text-align: center;
}

footer {
    background-color: #422755;
    color: #FFFFFF;
}